@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.weather-clock {
  width: 80%;
  border-radius: 20px;
  background: linear-gradient(145deg, #ae872f, #937128);
  box-shadow: 14px 14px 29px #755b20, -14px -14px 29px #d1a138;
}


@media only screen and (max-width: 900px) {
 
  
}
.background{
  background-image: url('/src/assets/svgs/Background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.meme{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes slideIn {
  from {
    right: -40%;
  }
  to {
    right: 0;
  }
}

.animate-slideIn {
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 2s;
}


@keyframes text{
  0%,
  100% {
    content: "George Wood Funeral Services: Compassion and dignity in every farewell.";
  }
  25% {
    content: "Trust George Wood Funeral Services to honor your loved ones with grace and reverence.";
  }
  50% {
    content: "Experience the supportive care of George Wood Funeral Services, where memories are cherished.";
  }
  75% {
    content: "Choose George Wood Funeral Services for a heartfelt tribute to a life well-lived.";
  }
}

/* Apply the animation to the pseudo-element */
.dynamic-text::after {
  content: "";
  animation: text 25s infinite;
}
