@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.weather-clock {
  width: 80%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 14px 14px 29px rgba(5, 3, 0, 0.2), -14px -14px 29px rgba(13, 12, 12, 0.2);
}

.weather-clock {
  /* other styles */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


@media only screen and (max-width: 900px) {
}
.background {
  background-image: url("https://wallpapercave.com/wp/wp4348559.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.meme {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes slideIn {
  from {
    right: -40%;
  }
  to {
    right: 0;
  }
}

.animate-slideIn {
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes text {
  0%,
  100% {
    content: "George Wood Funeral Services: Compassion and dignity in every farewell.";
  }
  25% {
    content: "Trust George Wood Funeral Services to honor your loved ones with grace and reverence.";
  }
  50% {
    content: "Experience the supportive care of George Wood Funeral Services, where memories are cherished.";
  }
  75% {
    content: "Choose George Wood Funeral Services for a heartfelt tribute to a life well-lived.";
  }
}

/* Apply the animation to the pseudo-element */
.dynamic-text::after {
  content: "";
  animation: text 25s infinite;
  color: #000000 ;
}

/* styles.css */

.slick-slide {
  margin: 0 10px; /* Space between slides */
}

.slick-prev:before, .slick-next:before {
  color: #A37E2C; /* Change color of arrows */
}

.slick-dots li.slick-active button {
  background: #A37E2C; /* Active dot color */
}

.slick-dots li button {
  background: #ccc; /* Dot color */
}
