
.xclusive {
  background-color: #010904;
  width: 100%;
}


.casket {
  background-image: linear-gradient(#135b3a, #28c17b);
  width: 100%;
}
.ambulance {
  background-color: #737373;
  width: 100%;
}
