@media (max-width: 960px) {
  .hero-page {
    width: 100%;
    height: 70vh;
  }

  .celebrating-life {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .text-change1 {
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 10rem;
    height: fit-content;
    padding: 1rem;
  }
  .card {
    position: absolute;
    filter: grayscale(0%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 45%;
    width: 250px;
    height: 155.28px;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
      0 15px 20px 0 rgba(0, 0, 0, 0.125);
    transition: transform 0.6s;
    user-select: none;
  }
  .card:nth-last-child(n + 5) {
    --x: calc(-50% + 90px);
    transform: translate(var(--x), -50%) scale(0.85);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
  }

  .card:nth-last-child(4) {
    --x: calc(-50% + 60px);
    transform: translate(var(--x), -50%) scale(0.9);
  }

  .card:nth-last-child(3) {
    --x: calc(-50% + 30px);
    transform: translate(var(--x), -50%) scale(0.95);
  }

  .card:nth-last-child(2) {
    --x: calc(-50%);
    transform: translate(var(--x), -50%) scale(1);
  }

  .card:nth-last-child(1) {
    --x: calc(-50% - 30px);
    transform: translate(var(--x), -50%) scale(1.05);
  }
.card img{
  width: 100%;
  height: 100%;
}
  .swap {
    animation: swap 1.3s ease-out forwards;
  }

  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 250px), -50%) scale(0.85)
        rotate(-5deg) rotateY(65deg);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }

  .celebrating-40-years {
    display: none;
  }

  header img {
    width: 5rem;
  }
  .hambuger_menu a {
    font-size: 0.5rem;
  }


  .services{
    font-size: 0.9rem;
    width: 150px;
  }
  .search-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-line h2 {
    font-size: 1.9rem;
  }
  .product-line p {
    font-size: 1.18rem;
  }
  .product {
    overflow-x: auto;
  }

  .search-bar {
    width: 50vw;
  }

  .search-button {
    width: 30vw;
    font-size: 0.9rem;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .about-us {
    display: flex;
    flex-direction: column;
  }

  .Founders-message {
    background-color: #558c7331;
    border-radius: 20px;
    display: flex;
    height: 300px;
    width: 100%;
  }

  .Founders-message img {
    width: 40vw;
    border-radius: 20px 0px 0px 20px;
  }

  .Founders-message article {
    width: 100%;
    padding-inline: 0.5rem;
  }
  .Founders-message article h2 {
    font-size: 0.8rem;
  }

  .Founders-message article p {
    font-size: 0.56rem;
  }

  .about-us .side-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20rem;
  }

  footer img {
    width: 200px;
  }
}
