@media (max-width: 960px) {


  .celebrating-life {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

  }
  .cards-container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    
  }
  .cards-container:hover .card:not(:hover) {
 opacity: .7;
 transform: scale(.85);   

  }


  @keyframes carousel {
    0%,
    100% { transform: translateX(50px);
    
    }
    25% { transform: translateX(100px)

    }
    50% {
      transform: translateX(150px)
    }
    70%{
      transform: translateX(200px)
    }
  }
  .cards-container::after{
    animation: carousel 25s infinite;
  }
  .card{
background-color: aqua;
min-width: 400px;
height: 250px;
animation: carousel;
  }
 
  .celebrating-40-years {
    display: none;
  }

  header img {
    width: 5rem;
  }
  header div {
    display: none;
  }
  .nav {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
  }
  .product-line {
    width: 100%;
    overflow-x: scroll;
  }

  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .about-us {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .about-us .side-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25rem;

  }
  .book-of-life{
  width: 49%;
  }

  .inquiry{
  width: 49%;
  }
}