@media (max-width: 960px) {


  .celebrating-life {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
    .stack {
      position: relative;
    }
    .main-card{
      display: grid;
      place-items: center;
      height: 100vh;
    }
    .card {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 300px;
      height: 186.335px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      font-family: sans-serif;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
        0 15px 20px 0 rgba(0, 0, 0, 0.125);
      transition: transform 0.6s;
      user-select: none;
    }
    
    .no-big{
     display: contents;
     font-size: 1.5rem;
      font-weight: 300;

    }
  
    .card:nth-last-child(n + 5) {
      --x: calc(-50% + 90px);
      transform: translate(var(--x), -50%) scale(0.85);
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
    }
    
    .card:nth-last-child(4) {
      --x: calc(-50% + 60px);
      transform: translate(var(--x), -50%) scale(0.9);
    }
    
    .card:nth-last-child(3) {
      --x: calc(-50% + 30px);
      transform: translate(var(--x), -50%) scale(0.95);
    }
    
    .card:nth-last-child(2) {
      --x: calc(-50%);
      transform: translate(var(--x), -50%) scale(1);
    }
    
    .card:nth-last-child(1) {
      --x: calc(-50% - 30px);
      transform: translate(var(--x), -50%) scale(1.05);
    }
    
    
    
    .swap {
      animation: swap 1.3s ease-out forwards;
    }
    
    @keyframes swap {
      30% {
        transform: translate(calc(var(--x) - 250px), -50%) scale(0.85) rotate(-5deg)
          rotateY(65deg);
        animation-timing-function: ease-in;
      }
      100% {
        transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
        z-index: -1;
      }
    }
    
    
    
    
    
 
  .celebrating-40-years {
    display: none;
  }

  header img {
    width: 5rem;
  }
  header div {
    display: none;
  }
  .nav {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
  }
  .product-line {
    width: 100%;
    overflow-x: scroll;
  }

  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .about-us {
    display: flex;
    flex-direction: column;
    
   
  }

  .Founders-message {
    background-color: #558c7331;
    border-radius: 20px;
    display: flex;
    height: 300px;
   
  }

  
.Founders-message img {
  width: 186.3px;
  border-radius: 20px 0px 0px 20px;
}


.Founders-message article h2 {
  font-size: 1rem;
}

.Founders-message article p {
  font-size: 0.6rem;
  text-indent: 20px;
  font-weight: 100;
}

  .about-us .side-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20rem;

  }


  .search-div {
    display: flex;
    flex-direction: column;
    width: 100%;
   justify-content: center;
   align-items: center;
  }

  footer img {
    width: 200px;
  }
  }

  