@media (max-width: 960px) {
  .hero-page {
    width: 100%;
    height: 70vh;
  }

  .celebrating-life {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .celebrating-life h1{
    font-size: 2rem;
  }
  .text-change1 {
    top: 40%;
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 10rem;
    height: fit-content;
    padding: 1rem;
  }

  .card {
    width: 250px;
    height: 155.28px;
    top: 40%;
    left: 45%;
    border-radius: 20px;
  }

  .celebrating-40-years {
    display: none;
  }

  header img {
    width: 5rem;
  }
  .hambuger_menu a {
    font-size: 0.5rem;
  }

  .services {
    font-size: 0.9rem;
    width: 150px;
  }
  .search-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-line h2 {
    font-size: 1.9rem;
  }
  .product-line p {
    font-size: 1.18rem;
  }

  .search-bar {
    width: 50vw;
  }

  .search-button {
    width: 30vw;
    font-size: 0.9rem;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .perks div img {
    width: 1.8rem;
  }
  .perks div p {
    font-size: 0.5rem;
  }

  .directory {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .about-us {
    display: flex;
    flex-direction: column;
  }

  .Founders-message {
    background-color: #558c7331;
    border-radius: 20px;
    display: flex;
    height: 300px;
    width: 100%;
  }

  .Founders-message img {
    width: 40vw;
    border-radius: 20px 0px 0px 20px;
  }

  .Founders-message article {
    width: 100%;
    padding-inline: 0.5rem;
  }
  .Founders-message article h2 {
    font-size: 0.8rem;
  }

  .Founders-message article p {
    font-size: 0.56rem;
  }

  .about-us .side-bar {
    width: 100%;
    gap: 10px;
  }

  .book-of-life h3 {
    color: #135b3a;
    font-size: 1.2rem;
  }

  footer img {
    width: 200px;
  }





}
